footer {
  width: 100vw;
  margin-top: 2vw;
  background-color: #4A4C4D;
  color: white;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: calc(12px + 1vw);
}
#left-side-holder {
  display: inline-flex;
  align-items: center;
  margin-left: 2.5vw;
}

#copyright-text {
  padding: 1vw 2.5vw 1vw 2.5vw;
  border-right: 1px solid white;
}
#email-text {
  padding: 1vw 2.5vw 1vw 2.5vw;
  border-right: 1px solid white;
}
#number-text {
  padding: 1vw 2.5vw 1vw 2.5vw;
}
#fbLogoContainer {
  height: 60%;
  margin-left: 10vw;
  margin-right: 5vw;
}
#fbLogo {
  height: 100%;
}
